<h1>All tickets</h1>
<%= flash[:notice] %>
<% if !@tickets.nil? %>
  <% @tickets.each do |t| %>
    <p>Ticket: <%=t['id']%> | Subject: <%= t['subject'] %> | Opened by: <%=t['submitter_id']%> | On: <%=t['created_at']%></p> 
  <%end%>
<% end %>
<br>
<%= link_to 'Back to home page', root_path %>